@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body
{
    margin:0;
    padding:0;
    background-image: url("./images/bg8.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;	
}
.login
{
    margin:10% 30% 5% 30%;
    color:#fff;
    width:48rem;
    height:500px;
    background-color: #2a2b38;
    border-radius: 10px;
    box-shadow: 0 6px 10px 0 rgba(21,21,21,.2);
}
.heading
{
    margin-top: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
.form
{
    margin-top: 70px;
}
.form-group
{
    padding:0px 35px;
    text-align: center;
}
.form-group .form-style
{
    width: 100%;
    padding:15px;
    background-color:#1f2029 ;
    border:1px solid #1f2029;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 15px;
    box-shadow: 0 6px 10px 0 rgba(21,21,21,.2);
}
* {box-sizing: border-box;}
.input-group .input-group-addon
{
  background-color: #1f2029;
  color:#87CEFA;
  border: none;
  font-size: 20px;
}

.btn input
{
    margin:0% 200px 0% 180px;
    padding: 10px 25px;
    justify-content: center;
    background-color: #4682B4;
    color:#fff;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    box-shadow: 0 6px 10px 0 rgba(21,21,21,.2);
}
.form-group .formerror
{
    margin-top: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color:red;
    font-style: italic;
}
.pss
{
    margin-top: 20px;
}
.pss .link
{
   
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
}
.link:hover
{
    color:aquamarine;
    text-decoration: none;
}